.hyperjump {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 512px;
    overflow: hidden;
}

.hyperjumpinside {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 50%;
}

.wall{
    background: url(../images/hyperspace_backdrop.jpg);
    background-size: cover;
}


/*
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
*/

body{
    background: #000;
    text-align: center;
}
/*
body:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
*/
.scene{
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
}

.wrap{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 12s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 12s linear;
    animation-delay: 0s;
}

.wall-right {
    transform: rotateY(90deg) translateZ(500px);
}

.wall-left {
    transform: rotateY(-90deg) translateZ(500px);
}

.wall-top {
    transform: rotateX(90deg) translateZ(500px);
}

.wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
}

.wall-back {
    transform: rotateX(180deg) translateZ(500px);
}

@keyframes move {
    0%{
        transform: translateZ(-500px) rotate(0deg);
    }
    5%{
        transform: translateZ(-490px) rotate(0deg);
    }
    100%{
        transform: translateZ(444px) rotate(0deg);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
