#screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111111;
}

#viewscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 260px);
    height: 576px;
}

.panel {
    position: absolute;
    background-color: #111111;
    border-style: solid;
    border-width: 2px;
    border-color: #444444;
    color: green;
}

#srscanvas {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 260px;
    height: 260px;
}

#statuscanvas {
    position: absolute;
    top: 260px;
    right: 0px;
    width: 260px;
    height: 260px;
}

#lrscanvas {
    display: none;
    opacity: 0.9;
    position: absolute;
    top: 82px;
    left: 100px;
    width: 850px;
    height: 700px;
}

#infocanvas {
    position: absolute;
    top: 524px;
    right: 0px;
    width: 260px;
    height: 260px;
}

#commcanvas {
    position: absolute;
    top: 768px;
    left: 0px;
    width: 100%;
    height: 64px;
}
